BOT_TOKEN=your_telegram_bot_token_from_botfather
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
EMAIL_FROM=your_email@gmail.com
EMAIL_FROM_NAME=Njuškalo Notification
EMAIL_SUBJECT=Poruka s Njuškala
REPLY_TO=your_email@gmail.com